*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5fbff;
    color:#333;
}

header{
    background:#1e88e5;
    color:white;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header h1{
    font-size:24px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.hero{
    text-align:center;
    padding:60px 20px;
    background:linear-gradient(#87cefa,#ffffff);
}

.hero h2{
    font-size:40px;
    color:#0d47a1;
}

.hero p{
    margin-top:15px;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:25px;
    background:#25D366;
    color:white;
    padding:12px 25px;
    border-radius:30px;
    text-decoration:none;
    font-weight:bold;
}

footer{
    margin-top:50px;
    background:#1e88e5;
    color:white;
    text-align:center;
    padding:20px;
}
